<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Renting · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
       <section class="container">
         <nav role="navigation">
	   <style>
	     ul { list-style-type: none; width: 100%; text-align:center;}
	     ul li { float:left;}
	     ul li a { display: block; padding: 10px; }
	     ul li a:hover { background: lavenderblush; }
	   </style>
          <ul>
	    <ol class="breadcrumb">

	      <%= if @current_user do %>
	      <li><%= link "Logged in as " <> @current_user.username, to: @conn.request_path %></li>
	      <li><%= link "My requests", to: Routes.request_path(@conn, :index) %> </li>
	      <li><%= link "Log out", to: Routes.session_path(@conn, :delete, @current_user), method: "delete" %></li>
	      <% else %>
	      <li><%= link "Register", to: Routes.user_path(@conn, :new) %></li>
	      <li><%= link "Log in", to: Routes.session_path(@conn, :new) %></li>
	      <% end %>
	      <li><%= link "Appartements", to: Routes.appart_path(@conn, :index) %></li>
	      <li><%= link "Home", to: Routes.page_path(@conn, :index) %></li>

	    </ol>
	  </ul>
       </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
